
.demo-gallery figure {
    display: none;
}
.demo-gallery-2 figure {
    display: block;
}
.pswp__img{
    object-fit: contain; 
}
.pswp__caption small {
    display: none;
}
.pswp__ui--idle .pswp__top-bar {
    opacity: 1;
}
.pswp__top-bar {
    position: absolute!important;
    left: 94%!important;
    top: 35%!important;
    height: auto!important;
    flex-direction: column!important;
    display: flex!important;
}
.pswp__button, .pswp__button--arrow--left:before, .pswp__button--arrow--right:before {

    color: #ffff;
    opacity: 1;
}
.eye .flaticon-witness:before {
    color: #fff;
    margin-left: 14px;
}


/*galerui vista*/
.categorians-name{
    display: flex;
    text-align: center;
    justify-content: space-evenly;
}