@font-face {
  font-family: 'Cardo', serif;
  src: url(../fonts/made/MADE\ Bon\ Voyage\ Regular\ PERSONAL\ USE.otf);
}

@font-face {
  font-family: "made-thin";
  src: url(../fonts/made/MADE\ Bon\ Voyage\ Thin\ PERSONAL\ USE.otf);
}

@font-face {
  font-family: "montserrat";
  src: url(../fonts/montserrat/Montserrat-Regular.ttf);
}
@import url("https://fonts.googleapis.com/css?family=Cardo|Pathway+Gothic+One");


::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background-color: #fff !important;
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: #9e9e9e;
}

html {
  overflow-x: hidden;
}

video {
  width: 100%;
  height: 50vh;
  object-fit: cover;
}

body {
  font-family: 'EB Garamond', serif;
  font-size: 18px;
  color: rgb(24 41 52);
  scroll-behavior: smooth !important;

}

body :focus {
  outline: none;
}

button:focus {
  outline: 5px auto transparent;
}

section {
  padding: 20px 0 15px;
}

a {
  text-decoration: none !important;
}

a:hover {
  color: #182934;
}

body.offcanvas-expanded {
  overflow: auto !important;
}
.title-bold{
  font-family: 'Cardo', serif;
  font-weight: bold;
}
.item_texto{
  padding-left: 10px;
}

.navbar {
  position: relative;
  z-index: 1;
  margin: 0;
  padding: 0;
  width: 100%;
  background: white;
  transition: .6s;
  box-shadow: 0px 0px 20px #00000024;
}

.container- .hamburger {
  padding: 15px 15px;
  display: inline-block;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;
}

.fixed {
  box-shadow: 0px 0px 20px #00000024;
  /*position: fixed;*/
  transition: .6s;
}
.btn-custom{
  background: #042b3a;
  padding: 4px 30px;
  border-radius: 2px;
  color: #fff!important;
  border: 0;
}
.dropdown-toggle{
  font-size: 15px;
}

.btn-custom2 {
 
  width: 100%;
  font-size: 24px;
}
.hamburger:hover {
  opacity: 0.7;
}

.hamburger:focus {
  outline: 0px auto -webkit-focus-ring-color;
}

.hamburger-box {
  width: 40px;
  height: 24px;
  display: inline-block;
  position: relative;
}

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px;
}

.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
  width: 35px;
  height: 3px;
  background-color: #0c4572;
  border-radius: 3px;
  position: absolute;
  transition-property: transform;
  transition-duration: 0.15s;
  transition-timing-function: ease;
}

.hamburger-inner::before,
.hamburger-inner::after {
  content: "";
  display: block;
}

.hamburger-inner::before {
  top: -10px;
}

.hamburger-inner::after {
  bottom: -10px;
}

.hamburger--elastic .hamburger-inner {
  top: 55px;
  transition-duration: 0.275s;
  transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
  right: 20px;
}

.hamburger--elastic .hamburger-inner::before {
  top: 10px;
  transition: opacity 0.125s 0.275s ease;
}

.hamburger--elastic .hamburger-inner::after {
  top: 20px;
  transition: transform 0.275s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.hamburger--elastic.is-active .hamburger-inner {
  transform: translate3d(0, 10px, 0) rotate(135deg);
  transition-delay: 0.075s;
}

.hamburger--elastic.is-active .hamburger-inner::before {
  transition-delay: 0s;
  opacity: 0;
}

.hamburger--elastic.is-active .hamburger-inner::after {
  transform: translate3d(0, -20px, 0) rotate(-270deg);
  transition-delay: 0.075s;
}

@media (max-width: 767px) {
  .offcanvas-collapse {
    position: fixed;
    top: 56px;
    /* Height of navbar */
    bottom: 0;
    width: 100%;
    padding-right: 1rem;
    padding-left: 1rem;
    overflow-y: hidden;
    background-color: #fff;
    transition: -webkit-transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out,
      -webkit-transform 0.3s ease-in-out;
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
}

@media (max-width: 767px) and (min-width: 0px) and (max-width: 767px) {
  .offcanvas-collapse {
    top: 120px;
    padding: 40px 10px;
    overflow-y: scroll;
    z-index: 1;
  }
}

@media (max-width: 767px) {
  .offcanvas-collapse.open {
    -webkit-transform: translateX(-1rem);

    text-align: center;
    /* Account for horizontal padding on navbar */
  }
}

/*navbar*/
.brand img {
  width: 220px;
}

.flex-content {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}

.nav-item {}

.m-155 {
  margin: 10px 155px;
}

.pt-60 {
  padding-top: 60px;
}

.navbar .fa {
  font-size: 20px;
}

.navbar-expand-md .navbar-nav .nav-link {
  color: rgb(4 43 58);
}

.navbar-expand-md .navbar-nav .nav-link:hover {

  color: #182934;
}

.navbar-expand-md .navbar-nav .nav-link {
  padding-right: 0.9rem;
  cursor: pointer;
  font-family: 'EB Garamond', serif;
}

.slick-dotted.slick-slider {
  margin-bottom: 0px;
}

.main-banner__content {
  /*padding-right: 4vw;
  padding-left: 4vw;*/
}

.main-banner_text a {

  padding: 8px;
}

.main-banner_item {
  position: relative;
}

.main-banner__content .slick-dots .slick-active button:before {
  margin: 0;
  opacity: 1;
}

.main-banner__content .slick-dots li button:before {
  color: gray;
  content: "";
  height: 10px;
  width: 10px;
  display: inline-block;
  background: #ffffff;
  border-radius: 6px;
  cursor: pointer;
  transition: all 300ms ease;
}

.main-banner_text ul {
  background: #0000000a;
  width: 100%;
  display: flex;
  padding: 15px;
  justify-content: space-between;
  list-style: none;
  text-align: center;
  align-items: center;
  padding-right: 6vw;
  padding-left: 6vw;
}

.banner-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.banner-grid__item {
  overflow: hidden;
}

.btn-add .flaticon-shopping-bag:before {
  content: "\f102";
  font-size: 30px;
  color: #182934;
}

.btn-add {
  position: relative;
}

.btn-add span {
  position: absolute;
  right: 5px;
  bottom: 0;
  color: #fff;
  
  font-family: initial;

}

.btn-add span::before {
  content: "";
  position: absolute;
  background: #182934;
  padding: 10px;
  border-radius: 50%;
  bottom: 2px;
  left: -5px;
  z-index: -1;
}

.slick-slide img {
  width: 100%;
  object-fit: cover;
  box-shadow: 0px 0px 10px #00000047;
  object-position: top;
  height: 75vh;

  overflow: hidden;
  background-attachment: fixed;
}

.slick-next {
  right: -40px !important;
}


.slick-next:before {
  content: "\f105";
  font: normal normal normal 14px/1 FontAwesome;
  font-size: 24px;
  color: #47545d;

  opacity: 1;
  /* background: #ffffff9e; */
  padding: 10px 28px;
  border-radius: 50%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slick-prev:before {
  font: normal normal normal 14px/1 FontAwesome;
  content: "\f104";
  color: #909897;
  font-size: 24px;
  color: #47545d;

  opacity: 1;

  padding: 10px 28px;
  border-radius: 50%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slick-prev {
  left: -70px;
}

.slick-prev,
.slick-next {
  top: 40%;
  z-index: 1;

  transition: .6s;
}

/*.main-banner__content:hover .slick-prev,
.main-banner__content:hover .slick-next {

  opacity: 1;
}*/

.modal {
  z-index: 999999;
}

.wrapper {
  margin: 2em auto;
  max-width: 970px;
}

img {
  vertical-align: middle;
  max-width: 100%;
}

.galeria {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

a {
  color: #333;
}

.galeria--h {
  flex-flow: row wrap;
}

.galeria--v {
  flex-flow: column wrap;
  max-height: 1080px;
}

.galeria--h,
.galeria--v {
  counter-reset: brick;
}

.galeria-brick {
  overflow: hidden;
  /* margin: 0 0 80px 50px; */
  background-color: transparent;
  color: #000;
  position: relative;
  padding: 30px;
  text-align: center;
}

.galeria-brick:after {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 5000;
  transform: translate(-50%, -50%);
  /*counter-increment: brick;
  content: counter(brick);*/
  transition: font-size .25s, opacity .25s ease-in-out;
  font-weight: 700;
  opacity: .5;
  font-size: 1.25em;
}

.galeria-brick:hover:after {
  font-size: 2.25em;
  opacity: 1;
}

.galeria-brick--h {
  flex: auto;
  /*height: 250px;*/
  height: auto;
  min-width: 150px;
}

@media only screen and (min-width: 1024px) {

  /*  .galeria-brick--h:nth-child(1){

height: 500px;
  }*/
  /* Horizontal galeria bricks on desktop-sized screen */
  .galeria-brick--h:nth-child(4n+1) {
    width: 250px;
  }

  .galeria-brick--h:nth-child(4n+2) {
    width: 325px;
  }

  .galeria-brick--h:nth-child(4n+3) {
    width: 180px;
  }

  .galeria-brick--h:nth-child(4n+4) {
    width: 380px;
  }

  /* Adjusting vertical galeria height on desktop-sized screen */
  .galeria--v {
    max-height: 1600px;
  }

  /* Vertical galeria bricks on desktop-sized screen */
  .galeria-brick--v {
    width: 33.33333%;
  }
}

@media only screen and (max-width: 1023px) and (min-width: 768px) {

  /* Horizontal galeria bricks on tabled-sized screen */
  .galeria-brick--h:nth-child(4n+1) {
    width: 200px;
  }

  .galeria-brick--h:nth-child(4n+2) {
    width: 250px;
  }

  .galeria-brick--h:nth-child(4n+3) {
    width: 120px;
  }

  .galeria-brick--h:nth-child(4n+4) {
    width: 280px;
  }

  /* Adjusting vertical galeria height on tablet-sized screen */
  .galeria--v {
    max-height: 2000px;
  }

  /* Vertical galeria bricks on tablet-sized screen */
  .galeria-brick--v {
    width: 50%;
  }
}

.galeria-img {
  object-fit: cover;
  width: 100%;
  height: 100%;

}


div#galeria img {

  -webkit-transition: .8s opacity;
  transition: .8s opacity;
}

div#galeria:hover img {
  opacity: 0.3;
}

div#galeria:hover img:hover {
  opacity: 1;
}

.galeria_name p {
  font-size: 16px;
  letter-spacing: 3px;
  font-family: 'Cardo', serif;
  font-weight: bolder;
}

.titulo-banner_cuadro {
  font-family: 'Cardo', serif;
  font-weight: bolder;
  letter-spacing: 2px;
}

.main_pagos img {
  width: 75px;
  margin-left: 50px;
}

.main_pagos ul {
  display: flex;
  list-style: none;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.main_pagos li {
  display: flex;

  text-align: center;
  align-items: center;
}

.w-200 {
  width: 200px;
}

.main_title-general {
  text-align: center;
  font-size: 40px;
  font-family: 'Cardo', serif;
  letter-spacing: 2px;
  color: #182934;
}

.main_video {
  padding-right: 4vw;
  padding-left: 4vw;
}

/*login*/
#login-modal .modal-dialog,
#register-modal .modal-dialog {
  max-width: 650px;
}

.title-login {
  font-size: 30px;
  font-family: 'Cardo', serif;
  letter-spacing: 2px;
  color: #182934;
  padding: 30px 0px;
}

.form-group {
  position: relative;
}

.form-group i {
  position: absolute;
  top: 30%;
  left: 10px;
  font-size: 15px;
}

.login_main .form-control {

  padding-left: 30px;
}

.login_main label,
.login_main input {
  font-size: 15px;
}

.login_main .modal-body {
  padding: 0;
}

.gray {
  background: #182934;
}

.login_main button.close {

  position: absolute;
  color: #fff;
  right: 0;
  z-index: 1;
  opacity: 1;
  font-size: 31px;
}

.p-50 {
  padding: 0 35px;
}

.inicia {
  font-size: 13px;
  color: #1829349c;
  position: relative;
}

.login_main .texto {
  font-size: 13px;
}

.inicia::before {
  content: "";
  position: absolute;
  width: 60px;
  height: 1px;
  background: #18293440;
  bottom: 40%;
  left: 0;
}

.inicia::after {
  content: "";
  position: absolute;
  width: 60px;
  height: 1px;
  background: #18293440;
  bottom: 40%;
  right: 0;
}

.btn-login {
  background: #45639e;
  font-weight: 300;
  padding: 8px 30px 8px;
  box-shadow: 0px 0px 10px #00000040;
  border-radius: 10px;
  font-size: 13px;
  color: #fff !important;
}

.btn-login2 {
  background: #e44134 !important;

}

.login_main button i {
  position: relative;
}

.login_main button {
  background: transparent;
  color: #182934;
  border: 0;
}

.registrar_facil {
  color: #fff;
}

.registrar_facil a {
  color: white;

}

.flex-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.form-control:focus {
  color: #495057;
  border-color: #182934;
  box-shadow: 0 0 0 0.2rem rgb(0 123 255 / 0%);
}

a:hover .fa-angle-right {
  transform: translateX(20px);
  transition: .6s ease-in-out;
}

.fa-angle-right {
  transition: .6s ease-in-out;
}

.main-banner__content .flaticon-zoom-in-2 {
  position: absolute;
  top: 50%;
  color: #ffffff;
  left: 50%;
  border-radius: 50%;

  -webkit-transform: translatey(0px);
  transform: translatey(0px);
  -webkit-animation: float 8s ease-in-out infinite;
  animation: float 8s ease-in-out infinite;

}

.main-banner__content .flaticon-zoom-in-2:before {
  content: "\f109";
  font-size: 39px;
  box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
  border-radius: 50%;

}
.firma{
  width: 130px;
  margin-left: -80px;
  position: absolute;
  bottom: -140%;
}

.titulo-table{
  background: #1c2f3c14;
  color: #042b3a;
  padding: 10px;
  margin-bottom: 10px;

}
.item_texto span{
  font-size: 15px;
    display: flex;
}
.item_img img{
  width: 130px;
}
.space  {
  text-align: end;
  font-size: 17px;
  font-weight: bolder;
}
.titulo-table p{
  padding: 0;
  margin: 0;
}

.item_product{
display: flex;
}
.producto-item{
  border-bottom: 1px solid #1c2f3c24;
  padding-bottom: 10px;
}
.space_total{
  display: flex;
    justify-content: space-between;
    font-size: 18px;
    border-bottom: 1px solid #1c2f3c24;
}
.pedido{
  padding: 20px;
}

@keyframes float {
  0% {

    transform: translatey(0px);
  }

  50% {

    transform: translatey(-10px);
  }

  100% {

    transform: translatey(0px);
  }
}
@import url("https://fonts.googleapis.com/css?family=Cardo|Pathway+Gothic+One");
.timeline {
  display: flex;
  margin: 0 auto;
  flex-wrap: wrap;
  flex-direction: column;
  max-width: 700px;
  position: relative;
}
.timeline__content-title {
  font-weight: normal;
  font-size: 45px;
  margin: -10px 0 0 0;
  transition: 0.4s;
  padding: 0 10px;
  box-sizing: border-box;
  font-family: "Pathway Gothic One", sans-serif;
  color: #fff;
}
.timeline__content-desc {
  margin: 0;
  font-size: 15px;
  box-sizing: border-box;
  color: rgba(255, 255, 255, 0.7);
  font-family: Cardo;
  font-weight: normal;
  line-height: 25px;
}
.timeline:before {
  position: absolute;
  left: 50%;
  width: 2px;
  height: 100%;
  margin-left: -1px;
  content: "";
  background: rgba(255, 255, 255, 0.07);
}
@media only screen and (max-width: 767px) {
  .timeline:before {
    left: 40px;
  }
}
.timeline-item {
  padding: 40px 0;
  opacity: 0.3;
  filter: blur(2px);
  transition: 0.5s;
  box-sizing: border-box;
  width: calc(50% - 40px);
  display: flex;
  position: relative;
  transform: translateY(-80px);
}
.timeline-item:before {
  content: attr(data-text);
  letter-spacing: 3px;
  width: 100%;
  position: absolute;
  color: rgba(255, 255, 255, 0.5);
  font-size: 13px;
  font-family: "Pathway Gothic One", sans-serif;
  border-left: 2px solid rgba(255, 255, 255, 0.5);
  top: 70%;
  margin-top: -5px;
  padding-left: 15px;
  opacity: 0;
  right: calc(-100% - 56px);
}
.timeline-item:nth-child(even) {
  align-self: flex-end;
}
.timeline-item:nth-child(even):before {
  right: auto;
  text-align: right;
  left: calc(-100% - 56px);
  padding-left: 0;
  border-left: none;
  border-right: 2px solid rgba(255, 255, 255, 0.5);
  padding-right: 15px;
}
.timeline-item--active {
  opacity: 1;
  transform: translateY(0);
  filter: blur(0px);
}
.timeline-item--active:before {
  top: 50%;
  transition: 0.3s all 0.2s;
  opacity: 1;
}
.timeline-item--active .timeline__content-title {
  margin: -50px 0 20px 0;
}
@media only screen and (max-width: 767px) {
  .timeline-item {
    align-self: baseline !important;
    width: 100%;
    padding: 0 30px 150px 80px;
  }
  .timeline-item:before {
    left: 10px !important;
    padding: 0 !important;
    top: 50px;
    text-align: center !important;
    width: 60px;
    border: none !important;
  }
  .timeline-item:last-child {
    padding-bottom: 40px;
  }
}
.timeline__img {
  max-width: 100%;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.4);
}
.timeline-container {
  width: 100%;
  position: relative;
  padding: 80px 0;
  transition: 0.3s ease 0s;
  background-attachment: fixed;
  background-size: cover;
}
.timeline-container:before {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(99, 99, 99, 0.8);
  content: "";
}
.timeline-header {
  width: 100%;
  text-align: center;
  margin-bottom: 80px;
  position: relative;
}
.timeline-header__title {
  color: #fff;
  font-size: 46px;
  font-family: Cardo;
  font-weight: normal;
  margin: 0;
}
.timeline-header__subtitle {
  color: rgba(255, 255, 255, 0.5);
  font-family: "Pathway Gothic One", sans-serif;
  font-size: 16px;
  letter-spacing: 5px;
  margin: 10px 0 0 0;
  font-weight: normal;
}

.demo-footer {
  padding: 60px 0;
  text-align: center;
}
.demo-footer a {
  color: #999;
  display: inline-block;
  font-family: Cardo;
}

.footer {
  display: flex;
  text-align: center;
  justify-content: center;
}